

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
    padding-bottom: 20px;
}

.jumbotron {
    background-color: #ddeeed;
    background-image: url(../img/bg.png);
    background-position: right top;
    background-repeat: no-repeat;
}

.jumbotron .btn-default {
    background-color: transparent;
}

@media (max-width: 768px) {
    .jumbotron {
        background-position: center top;
        text-align: center;
    }
}

.btn-link {
    color: #333;
}
.btn-star {
    color: #cccc33;
}
.btn-star:hover {
    color: #dddd44;
}
.btn-star i {
    letter-spacing: 3px;
}

#screenshots .col-lg-4 {
    margin: 10px auto;
}

@media (min-width: 1200px) {
    #screenshots .col-lg-4 {
        margin: auto;
    }
    #screenshots .thumbnail {
        height: 230px;
        overflow: hidden;
    }
}

.dot3 {
    letter-spacing: 2px;
    line-height: 24px;
}

.company {
    line-height: 24px;
}

a.colorchips {
    color: #333;
    font-size: 24px;
}
a.colorchips:hover {
    text-decoration: none;
}


