

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
    padding-bottom: 20px;
}

.jumbotron .btn-default {
    background-color: transparent;
}

@media (max-width: 768px) {
    .jumbotron {
        text-align: center;
    }
}

.btn-link {
    color: #333;
}
.btn-star {
    color: #cccc33;
}
.btn-star:hover {
    color: #dddd44;
}
.btn-star i {
    letter-spacing: 3px;
}

#screenshots .col-lg-4 {
    margin: 10px auto;
}

@media (min-width: 1200px) {
    #screenshots .col-lg-4 {
        margin: auto;
    }
    #screenshots .thumbnail {
        height: 430px;
    }
}

a.colorchips {
    color: #333;
    font-size: 24px;
}
a.colorchips:hover {
    text-decoration: none;
}

